.cardContainer{
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 5px;
    border: 1px solid rgb(196, 196, 196);
    max-width: 400px;
    background-color: antiquewhite;
}
.info{
    display: flex;
    flex-direction: column;
}
.imgContainer{
    max-height: 100px;
    max-width: 100px
}

.img{
    max-height: inherit;
    max-width: inherit;
}
.spanPart{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    font-size: large
}

#ratingDisplay{
    margin-left: 8px;
    color: grey;

}
